<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Formulario de inseción de video juegos</h1>
    <form action="/api/videogames" method="post">
        Nombre: <input id="name" name="name"><br/>
        Descripcion: <input id="description" name="description"><br/>
        Cateoria: <input id="categoria" name="categoria"><br/>
        Rate: <input id="rate" name="rate"><br/>
        <button type="submit">Guardar</button>
    </form>
</body>
</html>