<!DOCTYPE html>
<html lang="en">
<head th:replace="~{head(titulo='Listando')}"></head>
<body>

    <header th:insert="~{navegacion}"></header>

    <h1>Lista de memes</h1>
    <section class="container">
            <div th:each="meme: ${misMemes}">
                <img th:src="${meme.url}" alt="meme"/>
                <p th:text="${meme.description}"></p>
                <!-- https://www.baeldung.com/thymeleaf-js-function-call -->
                <button th:onclick="deleteMeme(  [[${meme.id}]]  )">❌</button>
            </div>
    </section>
   <script>

        async function deleteMeme(id){
            //console.log('Quieres borarr el meme con id=',id)
            await fetch('/memes/'+id, {method: 'DELETE'})

            console.log('Meme borrado')
            window.location.replace('/memes')
        }
   </script>
</body>
</html>