<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        img{
            width:100px;
            border-radius: 10px;
        }
        li{
            list-style: none;
        }
    </style>
</head>
<body>
    <h1>Lista de memes</h1>
    <ul>
        <li th:each="meme: ${misMemes}">
            <img th:src="${meme.url}" alt="meme"/>
            <p th:text="${meme.description}"></p>
        </li>
    </ul>
</body>
</html>