<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta http-equiv="refresh" content="1"> -->
    <title>Document</title>
    <style>
        img{
            width:100px;
            border-radius: 10px;
        }
        li{
            list-style: none;
        }
        nav{
            display: flex;
            flex-direction: row;
            gap: 20px;
        }
        nav a{
            text-decoration: none;
            color: black;
        }
        nav a:hover{
            color:aquamarine;
        }
        .container{
            display: flex;
            flex-wrap: wrap;
            gap:10px;
        }
    </style>
</head>
<body>
    <nav>
        <a href="/memes">Listado de memes</a>
        <a href="/memes/addForm">Añadir nuevo meme</a>
    </nav>

    <h1>Lista de memes</h1>
    <section class="container">
            <div th:each="meme: ${misMemes}">
                <img th:src="${meme.url}" alt="meme"/>
                <p th:text="${meme.description}"></p>
                <!-- https://www.baeldung.com/thymeleaf-js-function-call -->
                <button th:onclick="deleteMeme(  [[${meme.id}]]  )">❌</button>
            </div>
    </section>
   <script>
    
        async function deleteMeme(id){
            //console.log('Quieres borarr el meme con id=',id)
            await fetch('/memes/'+id, {method: 'DELETE'})
            
            console.log('Meme borrado')
            window.location.replace('/memes')
        }
   </script>
</body>
</html>