<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .container{
            display: flex;
            flex-wrap: wrap;
            gap:10px;
        }
        img{
            width: 100px;
        }
    </style>
</head>
<body>
    <h1>Lista de personajes de Rick and Morty</h1>
    <h3 th:text="${creator}"></h3>
    <div class="container">
          <div th:each="character : ${characters}">
            <h4 th:text="${character.name}"></h4>
             <img th:src="${character.image}" alt="personaje"/>
        </div>
    </div>
  
    
</body>
</html>